<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
body,td,th {
	font-family: Tahoma, Geneva, sans-serif;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
</style>
</head>

<body>
<p>Hi {EMAIL},</p>

<p>Your APK files are ready for download</p>
Remember if you are using stripe to set up the 2 stripe plans</br>
Plan 1 =</br>
PlanID : VPNPRO</br>
Set this plan for the trial length you entered in the app submission and for the value of access.</br></br>
Plan 2 =</br>
PlanID = VPNPRO2</br>
Set this for the value of access with no trial period.</br>
<p>Here is download link for Playstore App: <a href="{CODE1}">link1</a></p>
<p>Here is download link for Off Store App App: <a href="{CODE2}">link2</a></p>
<hr />
<p>Links:</p>
<p><a href="{CODE1}">{CODE1}</a></p>
<p><a href="{CODE2}">{CODE2}</a></p>
<p></p>
</body>
</html>